<a href="https://colab.research.google.com/github/amr9410/PythonDataWrangling/blob/master/Indexing_%2C_Slicing_%26_Subsetting_DataFram_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(11, 9),
                   index=list('abcdef12345'),
                   columns=list('ABCD12345'))

In [3]:
df

          A         B         C  ...         3         4         5
a -2.301491  0.816272  0.790545  ... -0.193343  0.232894  0.085874
b  1.558512  0.367548  1.154198  ...  0.575826  0.751477  1.183833
c -0.514813 -1.057227  0.617714  ... -0.098139 -0.305317  0.533636
d -1.336116 -0.051925  0.570378  ...  0.878031 -0.304111 -0.278204
e -0.221935  0.423342 -0.469746  ...  0.003085  2.164169  0.898570
f  1.007048  1.850855  0.509845  ... -0.678552 -0.725582 -0.044762
1 -0.057497 -0.260883 -0.777007  ... -0.170932 -0.393095 -1.126380
2 -0.147468  0.890772  0.579946  ...  0.506003 -0.588747  1.108570
3  0.049937 -0.386389  0.795624  ...  0.190326 -1.268280 -0.590795
4  0.422898 -0.239418  0.073516  ...  2.195986  0.895032  1.223104
5 -1.048066  0.350918  0.046767  ... -1.500260  0.427592  0.206155

[11 rows x 9 columns]

# 	**1.label-based indexing(.loc)**
   
```
df.loc[row_indexer,column_indexer]
```


> 1.1.	A single label

> 1.2.	A list or array of labels

> 1.3.	A slice object with labels 

> 1.4.	A boolean array 


> 1.5.	A callable function with one argument

In [4]:
# a single label
df1=df.loc['a', '5']
# a list / array of labels
df2=df.loc[['a', 'b', 'c'], ]
# a slice object with labels
df3=df.loc['a':'b',]
# a boalean array
df4=df.loc['a']>5
# a callabel function 
df5=df.loc[lambda df: df['A'] > 0, :]

# 	**2.	Integer/position-based indexing(.iloc)**


```
df.loc[row_indexer,column_indexer]
```




> 2.1.	A single label

> 2.2.	A list or array of labels

> 2.3.	A slice object with labels 

> 2.4.	A boolean array 


> 2.5.	A callable function with one argument

In [5]:
# a single label
df6=df.iloc[5]
# a list / array of labels
df7=df.iloc[[3, 4, 5],]
# a slice object with labels
df8=df.iloc[7:1,]
# a boalean array
df9=df.iloc[5]>5
# a callabel function 
df10=df.iloc[:, lambda df: [0, 1]]